body {
  color: black;
  background-color: rgb(250, 235, 215);

}


.header {
  text-align: center;
  border: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.right {
  float: right;
  width: 600px;
  height: 500px;
  border: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

.footer {
  margin-top: 10px;
}